---
layout: splash
author_profile: true
header:
  overlay_color: "#000"
  overlay_filter: "0.2"
  overlay_image: home.jpg
  hide_hero_title: true
intro:
  - excerpt: 'Welcome! I’m Jacqueline Tenreiro, a master’s student at the S.I. Newhouse School of Public Communications at Syracuse University studying Broadcast & Digital Journalism.'
---

{% include feature_row id="intro" type="center" %}

{% include base_path %}

<!--
<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% for post in paginator.posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
-->
